a(href="#").header__whatsapp
    img(src="./images/icon/whatsapp.svg", alt="whatsapp")
    | Пишите нам в WhatsApp
a(href="#").footer__whatsapp
    img(src="./images/icon/whatsapp.svg", alt="whatsapp")
    | Пишите нам в WhatsApp